{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
    @import url('http://fonts.googleapis.com/css?family=Kavoon');
    @import url('http://fonts.googleapis.com/css?family=Fascinate Inline');
		img{
      max-height: 200px;
			width: 200px;
		}
    .btn{
      width: 170px;
    }
    li{
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 5px;
    }
    /*.linkedin{
      margin-right:-2px; 
      margin-left: 12px;
    }*/
    .heading{
      text-align: center;
      color: red;
      font-size: 50px;
      font-family: Kavoon;
    }
    .score{
      color: yellow;
      font-family: Fascinate Inline; 
      display: inline-block;
    }
    .attempts{
      color: yellow;
      float: right;
      font-family: Fascinate Inline;
      display: inline-block;
    }
    #buttons{
      text-align: center;
    }
    .result{
      width: 190px;
    }
    #wa{
      padding: 12px;
      float: right;
      display: inline-block;
      border: dashed;
      height: 60px;
      width: 170px;
      text-align: center;
      margin-top: -63px; 
      margin-right: 125px;
      color: white;
      background: #aa0000;
      visibility: hidden;
    }
    #ca{
      padding: 5px;
      float: right;
      display: inline-block;
      border: dashed;
      height: 50px;
      width: 170px;
      text-align: center;
      margin-top: -63px; 
      margin-right: 125px;
      color: white;
      background: #00aa00;
      vertical-align: middle;
      visibility: hidden;
    }
	</style>

{% endblock head %}

{% block navbar %}
<h1 class="score">SCORE : <span id = "score">{{score}}</span></h1>
<h1 class="attempts pull-right">ATTEMPTS : <span id = "attempts">0</span></h1>
{% endblock navbar %}

{% block meta %}

  <meta itemprop="image" content="{{pokemon.pokemon_image}}">

  <meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
  <meta property="og:description" content=""/>
  <meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
  <meta property="og:site_name" content="https://pacific-castle-45515.herokuapp.com/"/> 

  <meta property="og:url" content="https://pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
  <meta property="article:author" content="http://facebook.com/rajat.singhal.9085" />
  <meta property="article:publisher" content="https://www.facebook.com/rajat.singhal.9085"/>
  <!-- <meta property='og:video' content='http://www.youtube.com/v/0Jgt3v7sQOM?version=3'/>
  <meta property='og:video:height' content='360'/>
  <meta property='og:video:type' content='application/x-shockwave-flash'/>
  <meta property='og:video:width' content='640'/>
  <meta property='og:type' content='video'/> --> 
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@newsmemedotin" />
  <meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
  <!-- <meta name="twitter:description" content="" /> -->
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="{{pokemon.pokemon_image}}" />
{% endblock meta %}


{% block content %}
  <strong><h2 class="heading">
    Who is {{correct_pokemon.pokemon_name}}?
  </h2></strong>
  <br><br><br>
  <div class="row">
    <div class="col-md-3">
      
        <img src={{pokemon.0.pokemon_image}} onclick='check(this,"{{pokemon.0.pokemon_name}}","{{correct_pokemon.pokemon_name}}")'>
      
    </div>
    <div class="col-md-3">
      
        <img src={{pokemon.1.pokemon_image}} onclick='check(this,"{{pokemon.1.pokemon_name}}","{{correct_pokemon.pokemon_name}}")'>
      
    </div>
    <div class="col-md-3">
      
        <img src={{pokemon.2.pokemon_image}} onclick='check(this,"{{pokemon.2.pokemon_name}}","{{correct_pokemon.pokemon_name}}")'>
      
    </div>
    <div class="col-md-3">
      
        <img src={{pokemon.3.pokemon_image}} onclick='check(this,"{{pokemon.3.pokemon_name}}","{{correct_pokemon.pokemon_name}}")'>
      
    </div>
  </div>

  <br><br><br><br>

  <button type="button" class="btn btn-success" id="hideshow" onclick="show()">SHOW ANSWER</button>
  <button type="button" class="btn btn-warning" id="reload" onclick="location.reload()" style="visibility:hidden;">NEXT QUESTION</button>
  <br><br>
  <img src="{{correct_pokemon.pokemon_image}}" id="answer" class="content" style="display:none;">
  <div class="result" id="wa">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> WRONG ANSWER 
  </div>
  <div class="result" id="ca">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> CORRECT ANSWER 
  </div>

  <!-- buttons -->
  <!-- <div class="row">
    <div class="col-md-3" id="buttons">
      <button type="button" class="btn btn-warning" onclick="check(this)">OPTION A</button>
    </div>
    <div class="col-md-3" id="buttons">
     <button type="button" class="btn btn-warning">OPTION B</button>
    </div>
    <div class="col-md-3" id="buttons">
      <button type="button" class="btn btn-warning">OPTION C</button>
    </div>
    <div class="col-md-3" id="buttons">
      <button type="button" class="btn btn-warning">OPTION D</button>
    </div>
  </div> -->
<br><br>
<div class="row">

  <div class='col-md-6 col-md-offset-6'>
      <ul>
        <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}">
            <button class="btn btn-primary"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>Share on Facebook </button>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/home?status=https%3A//pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"> 
            <button class="btn btn-info"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>Share on Twitter </button> 
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/share?url=https%3A//pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}">
            <button class="btn btn-danger"> <i class="fa fa-google-plus-official fa-lg" aria-hidden="false"></i>  Share on Google+ </button> 
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}&title=Pokedex&summary=&source=">
            <button class="btn btn-info linkedin"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>  Share on LinkedIn </button>
          </a>
        </li>
        <li>
          <a id='whatsapp' href="whatsapp://send?text=Hi There http%3A//pacific-castle-45515.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}">
            <button class="btn btn-success"><i class="fa fa-whatsapp fa-lg" aria-hidden="true" style=""></i>Share on WhatsApp</button>
          </a>
        </li>
      </ul>
    
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">


    /*var score = {
      score : 0,
      attempts : 0
    };
         
    
    if(!window.sessionStorage.getItem("score")){
      console.log("setting storage");
      window.sessionStorage.setItem("score",JSON.stringify(score));
    }
    else{
      console.log("getting storage");
      score = JSON.parse(window.sessionStorage.getItem("score"));
    }*/
  
    function show () {
       document.getElementById("answer").style.display="block";
       document.getElementById("reload").style.visibility="visible";
    }

    /*function update_score () {
       document.getElementById("score").innerHTML=score.score;
       document.getElementById("attempts").innerHTML=score.attempts;
    }*/
    jQuery('#hideshow').on('click', function() {        
             setTimeout(function () {
                jQuery('.content').toggle('show');
             }, 1500)
             
        });

    function check(e,option,correct_pokemon) {
      if(option==correct_pokemon)
      {
        document.getElementById("ca").style.visibility="visible";
        document.getElementById("reload").style.visibility="visible";
        var score = document.getElementById("score").innerHTML;
        var attempts=document.getElementById("attempts").innerHTML
        attempts=parseInt(attempts)+1
        document.getElementById("attempts").innerHTML=attempts
        score=parseInt(score) + 1;
        setTimeout(function(){
          window.location.href='/game?score=' + score;
        }  , 2500);
        
        $.post('/game',{'user_score': score,'csrfmiddlewaretoken': "{{csrf_token}}"}, function (result) {
           console.log(result);
        });

        /*score.score + =1;
        score.attempts +=1;
        window.sessionStorage.setItem("score",JSON.stringify(score));
        update_score();*/ 
      }
      else
      {
       /* score.attempts +=1;
        window.sessionStorage.setItem("score",JSON.stringify(score));
        update_score();*/
        document.getElementById("wa").style.visibility="visible";
        setTimeout(function() {
          $(e).hide(); 
           document.getElementById("wa").style.visibility="hidden";
        }, 1000);
        var score = document.getElementById("score").innerHTML;
        var attempts=document.getElementById("attempts").innerHTML;
        attempts=parseInt(attempts)+1;
        document.getElementById("attempts").innerHTML=attempts;
        if(attempts==3)
        {
            setTimeout(function () {
               $('.content').toggle('show');
            }, 750)              
            score=parseInt(score) - 1;  
            setTimeout(function(){
              window.location.href='/game?score=' + score;
            }  , 3000);
        }
        
      }
    }

    function check_get(e,option,correct_pokemon) {
      //console.log(option,correct_pokemon)
      if(option==correct_pokemon)
      {
        document.getElementById("ca").style.visibility="visible";
        document.getElementById("reload").style.visibility="visible";
        var score = document.getElementById("score").innerHTML;
        score=parseInt(score) + 1;
        setTimeout(function(){
          window.location.href='/game?score=' + score;
        }  , 2500);
        
        /*score.score + =1;
        score.attempts +=1;
        window.sessionStorage.setItem("score",JSON.stringify(score));
        update_score();*/ 
      }
      else
      {
       /* score.attempts +=1;
        window.sessionStorage.setItem("score",JSON.stringify(score));
        update_score();*/
        document.getElementById("wa").style.visibility="visible";
        setTimeout(function() {
          $(e).hide(); 
           document.getElementById("wa").style.visibility="hidden";
        }, 1000);
        var score = document.getElementById("score").innerHTML;
        score=parseInt(score) - 1;
      }
    }

</script>
{% endblock scripts %}
