{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 60px;	
		}
		.game{
			float: left;
			height: 125px;
			width: 80px;
		}
		.typed{
			height: 50px;
			width: 400px;
		}
		.game{
			display: inline-block;
		}
		.typing{
			text-align: center;
			display: inline-block;
		}
	</style>
{% endblock head %}

{% block navbar %}

<a href="/game" data-toggle="tooltip" data-placement="bottom" title="PLAY GAME"><img src="{{game_image}}" class="game"><h1 class='typing' style="text-shadow:2px 2px yellow;margin: 20px ;margin-left: 90px; font-size:80px;">PLAY POKEMON GAME</h1></a>
{% endblock %}

{% block content %}
<!-- <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">Prev &laquo;</span>
      </a>
    </li>
    {% for i in range %}
	    <li><a href="/?page={{i}}">{{i}}</a></li>
	{% endfor %}
    <li>
      <a href="/?page={{next}}" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="/p/{{prev}}" aria-label="Previous">
        <span aria-hidden="true">Prev &laquo;</span>
      </a>
    </li>
    {% for i in range %}
	    <li><a href="/p/{{i}}">{{i}}</a></li>
	{% endfor %}
    <li>
      <a href="/p/{{next}}" aria-label="Next">
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<br>	
<h1>Page #{{page}}</h1>
{% for pokemon in pokedex %}
	<p>{{pokemon.pokemon_name}} : type {{pokemon.pokemon_type}}</p>
		
	<a href='/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'><img src='{{pokemon.pokemon_image}}'></a>
	<hr>
{% endfor %}



	<!-- <div class='row'>

		<div class="col-md-4">
			<img src='static/images/{{list_dir.0}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.2}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.3}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.4}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.5}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.6}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.7}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.8}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.9}}'>
		</div>

	</div> -->



{% endblock content %}

{% block scripts %}

<script src="jquery.js"></script>
<script src="static/typed.js-master/js/typed.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

/*$(function(){
	      $(".typing").typed({
	        strings: ["PLAY POKEMON GAME"],
	        typeSpeed: 90
	      });
	  });*/

</script>

{% endblock scripts %}

